{% extends "base.html" %}


{% block page_content %}
<body style="background-color:powderblue;">
<div class="container m-5">
<h1 class="m-3">Journey Details</h1>
    {% for row in details %}
        <p>{{row}}</p>
    {% endfor %}
</div>
</body>
{% endblock %}