{% extends "base.html" %}


{% block page_content %}
<body style="background-color:powderblue;">


<div class="container m-5">
    <h2 class="m-3">The Harry's Travel</h2>
<form action="/" method="post">
    {% csrf_token %}
    <div class="form-group">
    {{ form }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</body>
{% endblock %}