{% extends "base.html" %}


{% block page_content %}
<body style="background-color:powderblue;">
<div class="container m-5">
<h1 class="m-3 ">Possible Departures</h1>
    {% for departure in departures %}
        <a href="possibleArrival?d_lat={{departure.lat}}&d_long={{departure.long}}&arrival={{arrival}}"> {{departure.name}}</a><br></br>
    {% endfor %}
</div>
</body>
{% endblock %}