{% extends "base.html" %}


{% block page_content %}
<body style="background-color:powderblue;">
<div class="container m-5">
<h1 class="m-3 ">Possible Arrivals</h1>
    {% for arrival in arrivals %}
        <a href="possibleJourneys?d_lat={{d_lat}}&d_long={{d_long}}&a_lat={{arrival.lat}}&a_long={{arrival.long}}"> {{arrival.name}}</a><br></br>
    {% endfor %}
</div>
</body>
{% endblock %}