{% extends "base.html" %}


{% block page_content %}
<body style="background-color:powderblue;">
<div class="container m-5">
<h1 class="m-3 ">Possible Journeys</h1>
    {% for journey in journeys %}
        <a href="journeyDetail?d_lat={{d_lat}}&d_long={{d_long}}&a_lat={{a_lat}}&a_long={{a_long}}&i={{forloop.counter0}}"> {{journey.string}}</a><br></br>
    {% endfor %}
</div>
</body>
{% endblock %}